/.vscode
/analiza_bn_const_count.C
/analiza_bn_const_time.C
/Analiza_cps_SDataR_sio2_1.root
/Analysis_coincidence_const_count_SDataR_sio2_1.root
/HcompassR_sio2_1_20230322_143031.root
/kroki.txt
/kroki_sio2_2.txt
/new_rotation_cluterization.ipynb
/SDataR_sio2_1.root
/tspectrum_time_export.C
/tspectrum_time_export.hpp
/zliczenia_coinc_0
/zliczenia_coinc_1
/zliczenia_coinc_2
/zliczenia_coinc_3
/zliczenia_coinc_4
/zliczenia_coinc_5